# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (ignore all real .env files, keep .env.example)
.env
.env.*
*/.env
*/.env.*
!*.env.example
!*/.env.example

# Build output
/dist
/build
.next
out/
storefronts/dist/

# Misc
.DS_Store
*.env.backup
*.env.bak

.history/
