# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (ignore all real .env files, keep .env.example)
.env
.env.*
*/.env
*/.env.*
!*.env.example
!*/.env.example
!.env.test
!*/.env.test

# Build output
/dist
/build
.next
out/

/storefronts/dist/*
!/storefronts/dist/platforms/
!/storefronts/dist/platforms/webflow/
!/storefronts/dist/platforms/webflow/checkout.js
!/storefronts/dist/gateways/
!/storefronts/dist/gateways/nmi.js

# Misc
.DS_Store
*.env.backup
*.env.bak

.history/

# Supabase env
supabase/functions/.env

# Supabase temp directories
supabase/.temp/
supabase/functions/**/.temp/
.vercel
.env*.local
